<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-nav-list>
      <a mat-list-item routerLink="/products">Products</a>
      <!-- سایر لینک‌ها -->
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>Product Analytics Dashboard</span>
      <span class="spacer"></span>
      <button mat-button *ngIf="auth.isLoggedIn$ | async" (click)="logout()">Logout</button>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
