<ng-container *ngIf="product$ | async as product; ">
  <app-card [title]="product.title" [brand]="product.brand">

    <img width="200" mat-card-image [src]="product.thumbnail" alt="{{ product.title }}">
    <ng-container content>
      <p>{{ product.description }}</p>
      <p><strong>Price:</strong> {{ product.price }} $</p>
      <p><strong>Category:</strong> {{ product.category }}</p>
    </ng-container>
  </app-card>

  <app-product-chart
    [title]="'Monthly Sales of ' + product.title"
    [months]="months"
    [salesData]="product.salesData">
  </app-product-chart>
</ng-container>
